<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.c195pa">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_wgu_owl_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:screenOrientation="fullSensor">
        <activity android:name=".EditAssessmentActivity"
                  android:parentActivityName=".AssessmentActivity"
            android:screenOrientation="fullSensor"></activity>
        <activity android:name=".AddAssessmentActivity"
                  android:parentActivityName=".TermScreenActivity"
            android:screenOrientation="fullSensor"/>
        <activity
            android:name=".AssessmentActivity"
            android:label="@string/title_activity_assessment"
            android:theme="@style/AppTheme.NoActionBar"
            android:parentActivityName=".TermScreenActivity"
            android:screenOrientation="fullSensor"/>
        <activity
            android:name=".AddCourseActivity"
            android:label="@string/title_activity_add_course"
            android:theme="@style/AppTheme.NoActionBar"
            android:parentActivityName=".TermScreenActivity"
            android:screenOrientation="fullSensor"/>
        <activity
            android:name=".EditCourseActivity"
            android:label="EditCourseActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:parentActivityName=".TermScreenActivity"
            android:screenOrientation="fullSensor"/>
        <activity
            android:name=".CourseActivity"
            android:label="Courses"
            android:theme="@style/AppTheme.NoActionBar"
            android:parentActivityName=".TermScreenActivity"
            android:screenOrientation="fullSensor"/>
        <activity android:name=".NewTermActivity"
            android:screenOrientation="fullSensor"/>
        <activity
            android:name=".TermScreenActivity"
            android:label="@string/title_activity_term_screen"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="fullSensor"/>
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="fullSensor">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>